In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df1 = pd.read_csv('inputs/Sleep Log - Ali .csv')
df1

,Date,Sleep Start,Sleep End,Total Hours of Sleep,Quality rating,Daily Productivity Rating,Notes
0,"Wednesday, 29 Mar",2:00:00 AM,5:00:00AM,3:00:00,2,3,Stay up late for school work
1,"Thursday, 30 Mar",2:00:00 AM,7:00:00AM,5:00:00,3,2,Stay up late for school work
2,"Friday, 31 Mar",11:00:00 PM,4:00:00AM,5:00:00,4,2,NaN
3,"Monday, 3 Apr",12:00:00 AM,3:00:00AM,3:00:00,4,4,NaN
4,"Tuesday, 4 Apr",11:00:00 PM,4:00:00AM,5:00:00,4,2,NaN
5,"Wednesday, 5 Apr",11:30:00 PM,2:30:00AM,3:00:00,4,3,NaN
6,"Thursday, 6 Apr",12:30:00 AM,3:00:00AM,2:30:00,3,4,NaN
7,"Friday, 7 Apr",11:30:00 PM,3:30:00AM,4:00:00,4,5,NaN
8,"Monday, 10 Apr",10:30:00 PM,2:30:00AM,4:00:00,4,5,NaN
9,"Tuesday, 11 Apr",11:30:00 PM,4:00:00AM,4:30:00,4,4,NaN
10,"Wednesday, 12 Apr",11:30:00 PM,3:00:00AM,3:30:00,4,5,NaN

In [20]:
df2 = pd.read_csv('inputs/Sleep Log - Anupriya.csv')
df2

,Date,Sleep Start,Sleep End,Total Hours of Sleep,Quality rating,Productivity Rating,Notes
0,"Wednesday, 29 Mar",1:00:00 AM,8:00:00AM,7:00:00,4,3,NaN
1,"Thursday, 30 Mar",2:00:00 AM,8:00:00AM,6:00:00,3,2,Drank too much caffine so I stayed up late wor...
2,"Friday, 31 Mar",12:00:00 AM,8:00:00AM,8:00:00,4,4,NaN
3,"Monday, 3 Apr",1:00:00 AM,8:00:00AM,7:00:00,4,2,NaN
4,"Tuesday, 4 Apr",1:00:00 AM,8:00:00AM,7:00:00,5,4,NaN
5,"Wednesday, 5 Apr",12:00:00 AM,8:00:00AM,8:00:00,3,2,NaN
6,"Thursday, 6 Apr",12:30:00 AM,8:45:00AM,8:15:00,3,1,Was really anxious not sure why but it labotom...
7,"Friday, 7 Apr",11:30:00 PM,8:00:00AM,8:30:00,4,3,NaN
8,"Monday, 10 Apr",10:30:00 PM,8:00:00AM,9:30:00,5,3,NaN
9,"Tuesday, 11 Apr",11:30:00 PM,8:00:00AM,8:30:00,4,4,NaN
10,"Wednesday, 12 Apr",1:30:00 AM,8:50:00AM,7:20:00,4,2,NaN