In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv('Sleep Log - Ali.csv')
df

,Date,Sleep Start,Sleep End,Total Hours of Sleep,Quality rating,Daily Productivity Rating,Notes,24:00:00,0:00:00
0,"Wednesday, 29 Mar",2:00:00 AM,5:00:00 AM,3:00:00,2.0,3.0,Stay up late for school work,NaN,NaN
1,"Thursday, 30 Mar",2:00:00 AM,7:00:00 AM,5:00:00,3.0,2.0,Stay up late for school work,NaN,NaN
2,"Friday, 31 Mar",11:00:00 PM,4:00:00 AM,5:00:00,4.0,2.0,NaN,NaN,NaN
3,"Monday, 3 Apr",12:00:00 AM,3:00:00 AM,3:00:00,4.0,4.0,NaN,NaN,NaN
4,"Tuesday, 4 Apr",11:00:00 PM,4:00:00 AM,5:00:00,4.0,2.0,NaN,NaN,NaN
5,"Wednesday, 5 Apr",11:30:00 PM,2:30:00 AM,3:00:00,4.0,3.0,NaN,NaN,NaN
6,"Thursday, 6 Apr",12:30:00 AM,3:00:00 AM,2:30:00,3.0,4.0,NaN,NaN,NaN
7,"Friday, 7 Apr",11:30:00 PM,3:30:00 AM,4:00:00,4.0,5.0,NaN,NaN,NaN
8,"Monday, 10 Apr",10:30:00 PM,2:30:00 AM,4:00:00,4.0,5.0,NaN,NaN,NaN
9,"Tuesday, 11 Apr",11:30:00 PM,4:00:00 AM,4:30:00,4.0,4.0,NaN,NaN,NaN
10,"Wednesday, 12 Apr",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Thursday, 13 Apr",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"Friday, 14 Apr",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Monday, 17 Apr",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Tuesday, 18 Apr",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"Wednesday, 19 Apr",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN